.Name{
    font-family: "Koulen", sans-serif;
    font-size: 3vw;
    font-weight: 300;
    margin: 0;
    margin-bottom: 3%;
}
.checkout{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.checkoutBox{
    display: flex;
    width: 90%;
    border: solid;
    border-radius: 25px;
    min-height: 300px;
    background-color: #f4f0eb;
    flex-direction: column;
}
.number{
    width: 4rem;
    height: 4rem;
    border: solid;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 2rem;
    font-family: "Poppins", sans-serif;
    color: white;
}
.orderSummary{
    height: 1rem;
    /* width: 100%; */
    display: flex;
    align-items: center;
    gap: 3rem;
    padding: 3rem;
    border-bottom: solid;
    background-color: #273a3d;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}
.orderSummary h1{
    font-size: 3rem;
    font-family: "Koulen", sans-serif;
    font-size: 3vw;
    font-weight: 300;
    margin: 0;
    color: white;
}
.counter input{
    width: 10%;
}
.counter input::-webkit-inner-spin-button {
    opacity: 1
}
.orders{
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.order{
    display: flex;
    width: 80%;
    height: fit-content;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    border-bottom: solid;
    margin-bottom: 3%;
}
.productName{
    font-weight: 500;
    font-size: 1.5rem;
}
.price{
    font-weight: 600;
}
.orderRight img{
    height: 10rem;
}
.orderRight{
    display: flex;
    height: fit-content;
    gap: 10rem;
}
.orderLeft{
    height: fit-content;
    
}
.delete{
    background: none;
    border: none;
    width: 5%;
    padding: 0;
}
.delete p{
    font-size: 1.5rem;
}
.delete:hover{
    cursor: pointer;
}
.details{
    width: 100%;
    display: flex;
    justify-content: end;
    font-family: "Poppins", sans-serif;
    margin-bottom: 5%;
}
.table{
    margin-right: 10%;
    width: 20%;
}
.row{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.row h1{
    font-size: 1.1rem;
    font-weight: 300;
}
.payment{
    display: flex;
    width: 100%;
    justify-content: end;
}
.payment button{
    font-size: 1rem;
    background-color: red;
    border: none;
    border-radius: 10px;
    padding: 3% 3%;
    color: white;
}