
.section1{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 10%; */
    margin-bottom: 11%;
}
.productTop{
    width: 90%;
    display: flex;
    flex-direction: row;
    border-radius: 25px;
    justify-content: center;
    gap: 2%;
    background: linear-gradient(135deg, rgba(101, 98, 98, 0.1), rgba(39, 39, 39, 0));
    backdrop-filter: blur(100px);
    border:1px solid rgba(255, 255, 255, 0.18);
    /* box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37); */
    background-color: #f4f0eb;
    box-shadow: rgba(3, 9, 114, 0.4) 5px 10px, rgba(3, 9, 114, 0.3) 10px 15px, rgba(3, 9, 114, 0.2) 15px 20px, rgba(3, 9, 114, 0.1) 20px 25px, rgba(3, 9, 114, 0.05) 25px 30px;
    /* box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px; */
}   
.productLeft{
    width: 40%;
    /* border: solid; */
}
.productLeft img{
    width: 90%;
}
.productRight{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
}
.productRight hr{
    height: 1.4px;
    background-color: black;
    display: block;
}
.productRight h1{
    font-family: "Koulen", sans-serif;
    font-size: 3vw;
    font-weight: 300;
    margin: 0;
}
.productRight h2{
    font-family: "Poppins", sans-serif;
    margin: 0;
    margin-bottom: 3%;
    font-size: 2vw;
    color: #FF2D2D;
}
.productRight p{
    font-family: "Poppins", sans-serif;
    margin: 0;
    font-size: 1.1vw;
}
.shopBTN{
    display: flex;
    flex-direction: row;
    width: 40%;
    gap: 5%;
    margin-top: 3%;
}
.shopBTN button{
    width: 50%;
    padding: 7% 3%;
    border-radius: 20px;
    background-color: #55c2da;
    border: none;
    font-family: "Koulen", sans-serif;
    font-size: 1.1vw;
}
.shopBTN button:hover{
    background-color: rgb(85, 194, 218,0.8);
    transform: scale(110%);
}
.section2{
    width: 100vw;
    height: fit-content;
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
}

.bentoGrid{
    display: flex;
    width: 90%;
    height: 90%;
    flex-wrap: wrap;
    justify-content: center;
}

.rect{
    width: 90%;
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: min-content;
    grid-column-gap: 2%;
    grid-row-gap: 3%;
}
.rect div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25% 5%;
    border-radius: 10px;
    box-shadow: rgb(38, 57, 77) 1px 20px 30px -10px;
    transition: transform 0.3s ease;
}
.rect div:hover{
    transform: scale(110%);
}

.grid1{
    grid-column: 1/3;
    background-image: url("resources/bento/OLED.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.grid2{
    background-image: url("resources/bento/care.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}
.grid3{
    background-image: url("resources/bento/aorus.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.grid4{
    background-image: url("resources/bento/360hz.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.grid5{
    background-image: url("resources/bento/image.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.grid6{
    background-image: url("resources/bento/800R.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    grid-column: 3/5;
}
.sectionName{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
}
.sectionName div{
    font-family: "Koulen", sans-serif;
    width: 80%;
}
.sectionName p{
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
}
#section3name{
    text-align: end;
}
.sectionName h1{
    margin: 0;
    font-size: 6rem;
    font-weight: 300;
}
.sectionName hr{
    height: 1.4px;
    background-color: black;
}
.section3{
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
}
.section3 iframe{
    aspect-ratio: 16 / 9;
}
@media screen and (max-width: 900px) {
    .productTop{
        flex-direction: column;
        align-items: center;
        padding-bottom: 1rem;
    } 
    .productLeft{
        width: 80%;
    }
    .productLeft img{
        width: 90%;
    }
    .productRight{
        width: 80%;
    }
    .productRight h1{
        font-size: 1.5rem;
        margin-bottom: 1%;
    }
    .productRight h2{
        font-size: 1rem;
        margin-bottom: 1%;
        padding: 3% 0%;
    }
    .productRight p{
        font-family: "Poppins", sans-serif;
        margin-bottom: 1%;
        font-size: 0.8rem;
    }
    .shopBTN button{
        font-size: 0.8rem;
        width: 65%;
    }
    .bentoGrid{
        padding-bottom: 20%;
    }
    .rect{
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: min-content;
        grid-column-gap: 3%;
        grid-row-gap: 3%;
    }
    .grid1{
        grid-column: 1/3;
    }
    .grid2{
        grid-row: 2;
        
    }
    .grid3{
        grid-row: 2;
    }
    .grid4{
        grid-row: 3;
    }
    .grid5{
        grid-row: 3;
    }
    .grid6{
        grid-row: 4;
        grid-column: 1/3;
    }
    .sectionName div{
        font-size: 0.8rem;
    }
    .sectionName h1{
        font-size: 2.5rem;
    }
    .sectionName P{
        font-size: 0.8rem;
    }
}