@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Koulen&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Removes all the default margin and padding, horizontal overflow to be hidden, and background to be offwhite */
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: #faf7f0;
}
/* Initally hides the Go to top button and set the poition (bottom right)  */
/* display will become a block when hit the scroll trigger point (JS) */
#goUp{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 3;
    font-size: 1rem;
    border: none;
    outline: none;
    background-color: #f9b233;
    color: black;
    cursor: pointer;
    width: 3rem;
    height: 3em;
    border-radius: 50%;
}
/* Make the button grow a little when hover */
#goUp:hover {
    transform: scale(1.1);
}
/* Make the landing section take up full width and height with company image as background */
.landing{
    height: 100vh;
    width: 100vw;
    background-image: url(resources/homepage/homepageBG.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Homepage section sets the company sologan to the right side of the landing page */
#homepage h1{
    color: white;
    font-family: "Koulen", sans-serif;
    font-size: 6em;
    line-height: 1.2;
    overflow: hidden;
}
#homepage a{
    font-family: "Koulen", sans-serif;
    border: none;
    padding: 3% 4%;
    background-color:  #f9b233;
    border-radius: 10px;
    text-align: center;
    font-size: 1.2rem;
    box-shadow: inset 0 0 0 0 rgb(85, 194, 218,0.8);
    transition: ease-out 0.3s;
    color: black;
    text-decoration: none;
}
#homepage a:hover{
    box-shadow: inset 150px 0 0 0 rgb(85, 194, 218,0.8);
    cursor: pointer;
    color: black;
}
#homepage{
    text-align: right;
    display: block;
    position: absolute;
    top: 20%;
    right: 0;
    margin-right: 5%;
    padding-bottom: 5%;
    overflow: hidden;
}

/* Navigation menu that will stick to the top of the screen */
nav{
    display: flex;
    position: sticky;
    top: 10px;
    justify-content: center;
    /* transform: translate(-50%, -50%); */
    overflow: visible;
    z-index: 2;
}
.mainNav{
    display: flex;
    background: #273a3d;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    padding: 10px;
    border-radius: 15px;
    position: absolute;
    /* transform: translate(-50%, -50%); */
    backdrop-filter: blur(10px);
}
.mainNav #TECHYARD_LOGO{
    width: 10%;
    
}
.icons{
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainNav #navbuttons{
    display: flex;
    gap: 5px;
}
.navmenu{
    display: flex;
    gap: 15px;
    width: 55%;
}
.navmenu a{
    padding: 0px;
    background-color: #e2dbd3;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 33%;
    color: #333;
    height: 40px;
    font-family: "Koulen", sans-serif;
    box-shadow: inset 0 0 0 0 #f9b233;
    transition: ease-out 0.3s;
}
.hamburger, .hamburgerMenu a, .hamburgerMenu{
    display: none;
}
.hamburger button, .icons button{
    all: unset;
}
.navmenu a:hover{
    box-shadow: inset 250px 0 0 0 #f9b233;
    cursor: pointer;
}
.searchBar{
    display: none;
}
.icons button:hover{
    cursor: pointer;
}
.searchBar.active{
    display: flex;
    position: absolute;
    top: 6rem;
    border: none;
    width: 40%;
    justify-content: center;
    padding: 1rem;
    background-color: #273a3d;
    border-radius: 20px;
}
.searchBar input{
    width: 60%;
    height: 2rem;
    border: none;
    border-radius: 10px;
}
/* About us section that has slide in right animation */
#AboutUs {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    gap: 5%;
    width: 100vw;
    padding: 5% 10%;
    box-sizing: border-box;
    visibility: hidden;
}
.AboutUsAnimate{
    visibility: visible !important;
    animation: slide-in 1.5s cubic-bezier(0.25, 0.8, 0.25, 1) both;
}
@keyframes slide-in {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0%);
    }
}
#AboutUsleft, #AbousUsright {
    flex: 1;
}

#AboutUsleft {
    overflow: hidden;
}

#AboutUsleft h1 {
    font-family: "Koulen", sans-serif;
    font-size: 6em;
    margin: 0;
    margin-bottom: 20px;
    overflow: hidden;
    font-weight: 300;
}

#AboutUsleft p {
    font-family: "Poppins", sans-serif;
    font-size: 1.2vw;
    line-height: 1.5;
}

#AbousUsright {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#Aboutuspng {
    height: 60%; 
    width: 100%;
    background-image: url(resources/homepage/AboutUs.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
    margin-bottom: 20px;
    box-shadow: rgb(38, 57, 77) 1px 20px 30px -10px;
}

#partners {
    overflow: hidden;
}

#partners h1 {
    font-family: "Koulen", sans-serif;
    font-size: 2em;
    text-align: center;
    overflow: hidden;
}

#partners img {
    width: 15%; 
    margin: 10px; 
}

/* Image caurosel for company advertisment */
#Product_Catalouge{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin-bottom: 50px;
}
#Product_Catalouge h1{
    font-family: "Koulen", sans-serif;
    text-align: center;
    font-size: 5rem;
    overflow: hidden;
    font-weight: 300;
}
#catalougeA{
    all: unset;
}
.slider{
    position: relative;
    width: 80%;
    margin: auto;
    overflow: hidden;
}
.slider img{
    width: 100%;
    display: none;
}
img.displaySlide{
    display: block;
}
.slider button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    padding: 1% 1%;
    background-color: #273a3d;
    color: white;
    border: none;
    cursor: pointer;
}
.previous{
    left: 0;
}
.next{
    right: 0;
}
#Product_Catalouge a{
    padding: 0px;
    background-color: #273a3d;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 15%;
    height: 7%;
    color: white;
    font-family: "Koulen", sans-serif;
    box-shadow: inset 0 0 0 0 #f9b233;
    transition: ease-out 0.3s;
    margin-top: 75px;
    font-size: 2em;
    overflow: hidden;
    padding: 1% 3%;
}
.catalougeA{
    all: unset !important;
}
#Product_Catalouge a:hover{
    box-shadow: inset 500px 0 0 0 #f9b233;
    cursor: pointer;
    color: black;
}

/* Review section with four cards with purple box shadows */
#Reviews{
    margin-top: 5%;
    width: 100vw;
    margin-bottom: 5%;
}
#Reviews h1{
    text-align: center;
    font-family: "Koulen", sans-serif;
    font-size: 5rem;
    overflow: hidden;
    font-weight: 300;
}
.reviewCard{
    flex-basis: 20%;
    background-color: #f5f5f5;
    border-radius: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-shadow: 0 10px 15px;
    border: solid;
    box-shadow: rgba(90, 69, 228, 0.4) -5px 5px, rgba(90, 69, 228, 0.3) -10px 10px, rgba(90, 69, 228, 0.2) -15px 15px, rgba(90, 69, 228, 0.1) -20px 20px, rgba(90, 69, 228, 0.05) -25px 25px;
}
#cards::-webkit-scrollbar {
    display: none;
}
.profilePicture{
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    border: solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Review Card design that is split into top part (Profile picture and name) and bottom part (review) */
.topCard{
    display: flex;
    gap: 10px;
    align-items: center;
}
.topCard h3{
    font-family: "Poppins", sans-serif;
    font-size: 1.3vw;
    overflow: hidden;
}
.botCard p{
    font-family: "Poppins", sans-serif;
    overflow: hidden;
    font-size: 1vw;
}
#cards{
    display: flex;
    padding: 20px 30px;
    gap: 2.5rem;
    justify-content: center;
}

/* Pop up content that blurs the background and only show the discount info */
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px); /* Blurs the background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}
.popup-content {
    font-family: "Poppins", sans-serif;
    display: flex;
    background: white;
    padding: 5%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    flex-direction: column;
    align-items: center;
}
#reveal-button{
    color: transparent;
    background-color: #273a3d;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 5%;
}
#close-btn{
    padding: 2% 1%;
    margin-top: 5%;
    width: 50%;
    border: none;
    background-color: rgb(85, 194, 218,0.8);
    border-radius: 10px;
}

/* Product Page CSS */
/* Same styling as the previous catalouge but shorter in width */
.catalouge2{
    display: flex;
    justify-content: center;
    margin-top: 8%;
}
.slider{
    position: relative;
    width: 75%;
    overflow: hidden;
}
.slider img{
    width: 100%;
    display: none;
}
img.displaySlide{
    display: block;
}

/* Products section that centers all the product card sliders */
.products{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-bottom: 15vh;
    gap: 10vh;
}
.category{
    width: 100%;
    font-family: "Koulen", sans-serif;
}
.category hr{
    height: 1.4px;
    background-color: black;
}
.category h1{
    margin: 0;
    font-size: 2.5vw;
    font-weight: 300;
}
.cards{
    display: flex;
    justify-content: start;
    width: 100%;
    height: 80%;
    gap: 1vw;
    overflow: auto;
    padding-left: 0.5%;
}
.card{
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    width: 18%;
    height: 80%;
    margin-top: 4%;
    margin-bottom: 15px;
    border-radius: 10px;
    background-color: #e5dfd8;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    transition: transform 0.3s ease;
}
.cardA{
    all: unset;
    border-radius: 10px;
}
.cardA:hover{
    cursor: pointer;
}
.inactiveLink{
    pointer-events: none;
 }
.card:hover{
    transform: translateY(-20px);
}

/* Card design for product card splits the card into 70% for image and 30% for product details */
.productImg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1 / 1;
}
.productDetail{
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 0.7vw;
    background-color: #273a3d;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 1% 3%;
    color: white;
}
.productName h2{
    font-weight: 400;
    font-family: "Poppins", sans-serif;
}
.priceTag{
    width: fit-content;
    padding: 1% 3%;
    background-color: aliceblue;
    font-family: "Poppins", sans-serif;
    border-radius: 10px;
    color: #ed3541;
    font-weight: bold;
    font-size: 140%;
    margin: 0;
}
.priceTag h3{
    margin: 0;
}
.view{
    width: 90%;
    display: flex;
    justify-content: flex-end;
    font-size: 250%;
}

/* Custom color and shape for the scroll bar for each product slider */
.cards::-webkit-scrollbar {
    width: 80px;
    height: 5px;
}
.cards::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0);
    border-radius: 10px;
}
.cards::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.2);
}

/* filter bar centers itself over all the product sliders and space around the 3 options it has */
.filter{
    width: 90%;
    display: flex;
    justify-content: center;
    margin: auto;
}
.filterShape{
    display: flex;
    justify-content: center;
    width: 50%;
    border: thin solid;
    border-radius: 50px;
    font-size: 1.3rem;
    font-family: "Koulen", sans-serif;
    background-color: #f1f1f1;
    box-shadow: rgba(3, 9, 114, 0.4) 0px 5px, rgba(3, 9, 114, 0.3) 0px 10px, rgba(3, 9, 114, 0.2) 0px 15px, rgba(3, 9, 114, 0.1) 0px 20px, rgba(3, 9, 114, 0.05) 0px 25px;
    margin-top: 3%;
    margin-bottom: 3%;
}
.filterBTN{
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 20%; */
}
.options{
    display: flex;
    justify-content: space-around;
    gap: 4%;
    align-items: center;
    width: 100%;
}
.option{
    display: flex;
    align-items: center;
    gap: 2%;
}

/* END END END END */
/* Product details CSS */

/* Centers the product card around the full width and height of the screen */
.section1{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 10%; */
    margin-bottom: 11%;
}
.productTop{
    width: 90%;
    display: flex;
    flex-direction: row;
    border-radius: 25px;
    justify-content: center;
    gap: 2%;
    padding: 3% 0%;
    background: linear-gradient(135deg, rgba(101, 98, 98, 0.1), rgba(39, 39, 39, 0));
    backdrop-filter: blur(100px);
    border:1px solid rgba(255, 255, 255, 0.18);
    background-color: #e5dfd8;
    box-shadow: rgba(3, 9, 114, 0.4) 5px 10px, rgba(3, 9, 114, 0.3) 10px 15px, rgba(3, 9, 114, 0.2) 15px 20px, rgba(3, 9, 114, 0.1) 20px 25px, rgba(3, 9, 114, 0.05) 25px 30px;
}

/* Product card is split into 40% each side with left for product image and right for product details (name, description, price, add to cart btns) */
.productLeft{
    width: 40%;
    /* border: solid; */
}
.productLeft img{
    width: 90%;
}
.productRight{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
}
.productRight hr{
    height: 1.4px;
    background-color: black;
    display: block;
}
.productRight h1{
    font-family: "Koulen", sans-serif;
    font-size: 3vw;
    font-weight: 300;
    margin: 0;
}
.productRight h2{
    font-family: "Poppins", sans-serif;
    margin: 0;
    margin-bottom: 3%;
    font-size: 2vw;
    color: #FF2D2D;
}
.productRight p{
    font-family: "Poppins", sans-serif;
    margin: 0;
    font-size: 1.1vw;
}
.shopBTN{
    display: flex;
    flex-direction: row;
    width: 40%;
    gap: 5%;
    margin-top: 3%;
}
.shopBTN button{
    width: 50%;
    padding: 7% 3%;
    border-radius: 20px;
    background-color: #55c2da;
    border: none;
    font-family: "Koulen", sans-serif;
    font-size: 1.1vw;
}
.shopBTN button:hover{
    background-color: rgb(85, 194, 218,0.8);
    transform: scale(1.1);
}

/* Bento grid design for product details/imgs, uses grid of 4 column by the auto rows, so it is easier to position irregular shapes */
.section2{
    width: 100vw;
    height: fit-content;
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
}
.bentoGrid{
    display: flex;
    width: 90%;
    height: 90%;
    flex-wrap: wrap;
    justify-content: center;
}
.rect{
    width: 90%;
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: min-content;
    grid-column-gap: 2%;
    grid-row-gap: 3%;
}
.rect div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25% 5%;
    border-radius: 10px;
    box-shadow: rgb(38, 57, 77) 1px 20px 30px -10px;
    transition: transform 0.3s ease;
}
.rect div:hover{
    transform: scale(1.1);
}
.grid1{
    grid-column: 1/3;
    background-image: url("resources/bento/OLED.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.grid2{
    background-image: url("resources/bento/care.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}
.grid3{
    background-image: url("resources/bento/aorus.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.grid4{
    background-image: url("resources/bento/360hz.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.grid5{
    background-image: url("resources/bento/image.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.grid6{
    background-image: url("resources/bento/800R.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    grid-column: 3/5;
}

/* Design of header for each product detail section */
.sectionName{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
}
.sectionName div{
    font-family: "Koulen", sans-serif;
    width: 80%;
}
.sectionName p{
    font-family: "Poppins", sans-serif;
    font-size: 1.3rem;
}
#section3name{
    text-align: end;
}
.sectionName h1{
    margin: 0;
    font-size: 5rem;
    font-weight: 300;
}
.sectionName hr{
    height: 1.4px;
    background-color: black;
}
/* 
Video section for the product which sets the video to be 80% and center */
.section3{
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
}
.section3 iframe{
    width: 80%;
    aspect-ratio: 16 / 9;
}
/* END END END END */
/* Checkout Page CSS */

/* Order summary section which takes 90% of the width and has min height of 300px */
.checkout{
    margin-top: 10%;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.box{
    display: flex;
    width: 90%;
    border-radius: 15px;
    min-height: 300px;
    background-color: #e5dfd8;
    flex-direction: column;
}
.number{
    width: 4rem;
    height: 4rem;
    border: solid;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 2rem;
    font-family: "Poppins", sans-serif;
    color: white;
}
.stage{
    height: 1rem;
    display: flex;
    align-items: center;
    gap: 3rem;
    padding: 3rem;
    background-color: #273a3d;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}
.stage h1{
    font-size: 3rem;
    font-family: "Koulen", sans-serif;
    font-weight: 300;
    margin: 0;
    color: white;
}
.counter input{
    width: 10%;
}
.counter input::-webkit-inner-spin-button {
    opacity: 1
}

/* Cart item design which is a box that has the product details on the left and image and delete button on the right */
.orders{
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.order{
    display: flex;
    width: 80%;
    height: fit-content;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    border-bottom: solid;
    margin-bottom: 3%;
}
.checkoutproductName{
    font-weight: 500;
    font-size: 1.5rem;
}
.price{
    font-weight: 600;
}
.orderRight img{
    height: 10rem;
}
.orderRight{
    display: flex;
    height: fit-content;
    gap: 10rem;
}
.orderLeft{
    height: fit-content;
    
}
.delete{
    background: none;
    border: none;
    width: 5%;
    padding: 0;
    font-size: 1.5rem;
}
.delete:hover{
    cursor: pointer;
}
.details{
    width: 100%;
    display: flex;
    justify-content: end;
    font-family: "Poppins", sans-serif;
    margin-bottom: 5%;
}
.table{
    margin-right: 10%;
    width: 20%;
}
.row{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.row h1{
    font-size: 1.1rem;
    font-weight: 300;
}

/* Design for the payment details input */
.box2{
    display: flex;
    width: 48%;
    border-radius: 15px;
    height: 500px;
    background-color: #e5dfd8;
    flex-direction: column;
}
.paymentDetails{
    margin-top: 5%;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
    flex-direction: column;
}
.paymentContainer{
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.paymentInputs{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    padding: 4%;
}
.paymentInputs label{
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}
.inputRow{
    display: flex;
    width: 80%;
    justify-content: space-between;
}
.paymentRow{
    width: 80%;
}
.paymentRow input{
    width: 100%;
    height: 100%;
    height: 3rem;
    border: 1px black solid;
    border-radius: 5px;
    background-color: #f1f1f1;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.splitrow{
    width: 45%;
}
.splitrow input{
    width: 100%;
    height: 100%;
    border: 1px black solid;
    border-radius: 5px;
    background-color: #f1f1f1;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.payment{
    display: flex;
    width: 100vw;
    justify-content: center;
    margin-top: 5%;
}
.payment button{
    font-size: 1rem;
    background-color: #485e62;
    border: none;
    border-radius: 15px;
    padding: 2% 3%;
    color: black;
    font-size: 1em;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: white;
}
.payment button:hover{
    transform: scale(1.1);
    cursor: pointer;
}
/* END END END END */

/* footer section which is split into two parts
left for a links and right for contact information */
footer{
    display: flex;
    background-color: #273a3d;
    justify-content: space-around;
    overflow: hidden;
}
.footerLinks{
    display: flex;
    flex-direction: column;

    gap: 20px;
    margin-top: 30px;
    overflow: hidden;
}
.footerLinks div{
    margin-bottom: 20px;
    overflow: hidden;
}
.footerLinks div h1{
    margin: 0;
    color: white;
    overflow: hidden;
    font-family: "Koulen", sans-serif;
    margin-bottom: 15px;
}
.footerLinks div a{
    color: white;
    padding-right: 20px;
    font-family: "Poppins", sans-serif;
}
.footercontact{
    padding: 0;
    text-align: right;
    margin-top: 30px;
    font-family: "Poppins", sans-serif;
    overflow: hidden;
}
.footercontact h1{
    margin: 0;
    color: white;
    overflow: hidden;
}
.footercontact p{
    margin: 0;
    color: white;
    overflow: hidden;
}
#footericon{
    display: flex;
    margin: 0;
    padding: 0;
    gap: 15px;
    align-items: center;
    justify-content: flex-end;;
}
#footerLogo{
    max-width: 100px;
}
.footerLogo{
    height: 100px;
    margin-top: 15px;
}

/* Mobile view */
@media screen and (max-width: 900px) {
    /* Decreases the size of the sologan text on the landing page */
    #homepage h1{
        font-size: 3em;
    }
    /* Hides away the middle menu and icon and enable the hamburger menu */
    .mainNav{
        width: 50%;
    }
    .mainNav #TECHYARD_LOGO{
        width: 20%;
    }
    .icons{
        display: none;
    }
    .hamburger{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .hamburger button:hover{
        cursor: pointer;
    }
    .hamburgerMenu.active a{
        display: block;
        font-size: 1vh;
        color: white;
        font-family: "Poppins", sans-serif;
        overflow: hidden;
        text-decoration: none;
    }
    .hamburgerMenu.active {
        position: absolute;
        width: 50%;
        height: 40px;
        top: 9vw;
        display: flex;
        background-color: #273a3d;
        justify-content: space-between;
        align-items: center;
        z-index: 2;
        border-radius: 15px;
        padding: 10px;
        animation: slideDown ease-out 0.5s;
      }
    @keyframes slideDown {
        from {
            top: 6%;
        }
        to {
            top: 9vw;
        }
      }
    .navmenu{
        display: none;
    }
    .searchBar.active{
        display: none;
    }
    /* Decreasees the overall letter size for all text in about us section */
    #AboutUsleft h1{
        font-size: 2.5em;
    }
    #AboutUsleft p{
        font-size: 2.5vw;
    }
    #partners img {
        width: 35%; 
    }
    #partners h1{
        font-size: 1em;
    }

    /* Decreases the image size and button size for the slider */
    #Product_Catalouge h1{
        font-size: 2em;

    }
    .slider{
        margin: 0;
    }
    .slider button{
        font-size: 1rem;
    }
    #Product_Catalouge a{
        width: 40%;
        height: 7%;
        box-shadow: none;
        transition: none;
        margin-top: 10%;
        font-size: 1em;
    }
    #Product_Catalouge a:hover{
        box-shadow: none;
        cursor: pointer;
        color: white;
    }

    /* Changes from row flex to column flex so that the cart will be aligned vertically */
    #cards{
        display: flex;
        flex-direction: column;
        padding: 20px 30px;
        gap: 30px;
        justify-content: center;
    }
    .topCard h3{
        font-family: "Poppins", sans-serif;
        font-size: 1em;
        overflow: hidden;
    }
    .botCard p{
        font-family: "Poppins", sans-serif;
        overflow: hidden;
        font-size: 1em;
    }
    #Reviews h1{
        font-size: 2rem;
    }
/* Mobile Product page css */

    /* Increases the width and text size for each product card so that it is easier to see on mobile */
    .Monitors{
        width: 100%;
    }
    .GPU{
        width: 100%;
    }
    .Processors{
        width: 100%;
    }
    .catalouge2{
        margin-top: 15%;
    }
    .card{
        width: 50%;
    }
    .category h1{
        margin: 0;
        font-size: 150%;
    }
    .productDetail{
        font-size: 40%;
    }
    .productName h2{
        font-size: 2em;
    }
    .priceTag{
        font-size: 200%;
    }
    .navmenu{
        display: none;
    }

    /* Increase the option sizes and the filter size to make it more accessible */
    .filterShape{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        font-size: 3vw;
        margin-bottom: 8%;
    }
    /* END END END END */
    /* Mobile Product Details CSS */
    /* Changes the flex direction to column so that image and details can be bigger */
    .productTop{
        flex-direction: column;
        align-items: center;
        padding-bottom: 1rem;
    } 
    .productLeft{
        width: 80%;
    }
    .productLeft img{
        width: 90%;
    }
    .productRight{
        width: 80%;
    }
    .productRight h1{
        font-size: 1.5rem;
        margin-bottom: 1%;
    }
    .productRight h2{
        font-size: 1rem;
        margin-bottom: 1%;
        padding: 3% 0%;
    }
    .productRight p{
        font-family: "Poppins", sans-serif;
        margin-bottom: 1%;
        font-size: 0.8rem;
    }
    .shopBTN{
        width: 60%;
    }
    .shopBTN button{
        padding: 7% 6%;
        font-size: 0.8rem;
    }

    /* Change the bento grid to be 2 column by auto rows so that the bento can flex downwards */
    .bentoGrid{
        padding-bottom: 20%;
    }
    .rect{
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: min-content;
        grid-column-gap: 3%;
        grid-row-gap: 3%;
    }
    .grid1{
        grid-column: 1/3;
    }
    .grid2{
        grid-row: 2;
        
    }
    .grid3{
        grid-row: 2;
    }
    .grid4{
        grid-row: 3;
    }
    .grid5{
        grid-row: 3;
    }
    .grid6{
        grid-row: 4;
        grid-column: 1/3;
    }

    /* Decreases the overall section name size */
    .sectionName div{
        font-size: 0.8rem;
    }
    .sectionName h1{
        font-size: 2.5rem;
    }
    .sectionName P{
        font-size: 0.8rem;
    }
    /* Mobile Checkout page CSS */

    /* Realigned the summary box to not colide with the nav bar */
    .checkout{
        margin-top: 15%;
    }
    .checkoutBox{
        margin-top: 5%;
        flex-direction: column;
    }
    .number{
        width: 3rem;
        height: 3rem;
    }

    /* Decreased the overall font size to fit in the box */
    .stage h1{
        font-size: 2rem;
    }
    .order{
        flex-direction: column;
    }
    .checkoutproductName{
        font-size: 1rem;
    }
    .price{
        font-size: 1rem;
    }
    .orderRight img{
        height: 5rem;
    }
    .orderRight{
        justify-content: space-between;
        width: 100%;
    }
    .details{
        justify-content: center;
    }
    .table{
        margin-right: 0;
        width: 80%;
    }

    /* Changed the flex direction to column so that the payment and shipping box can take up the whole width */
    .box2{
        width: 100%;
        flex-direction: column;
        margin-bottom: 10%;
    }
    .paymentContainer{
        flex-direction: column;
        align-items: center;
    }
    /* END END END END */

    /* Decrease the overall font size for footer elements */
    footer{
        padding: 0px 5%;
    }
    .footerLinks{
        font-size: small;
    }
    .footerLinks a{
        font-size: small;
    }
    .footerLinks div{
        margin-bottom: 5%;
    }
    .footercontact h1{
        margin: 0;
        color: white;
        overflow: hidden;
        font-size: 3.5vw;
    }
    .footercontact p{
        font-size: 2vw;
    }

    #footericon .icons{
        display: flex;
        width: 7vw;
        height: 7vw;
        margin-top: 3%;
    }
    #footerLogo{
        max-width: 50%;
    }
}