@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Koulen&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: #faf7f0;
    /* background-color: #f0f0f0; */
}
#goUp{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 3;
    font-size: 1rem;
    border: none;
    outline: none;
    background-color: #f9b233;
    color: white;
    cursor: pointer;
    width: 2.5vw;
    height: 2.5vw;
    border-radius: 50%;
}
  
#goUp:hover {
    transform: scale(110%);
}
.landing{
    height: 100vh;
    width: 100vw;
    background-image: url(resources/homepageBG.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#homepage h1{
    color: white;
    font-family: "Koulen", sans-serif;
    font-size: 6em;
    line-height: 1.2;
    overflow: hidden;
}
#homepage a{
    font-family: "Koulen", sans-serif;
    border: none;
    padding: 3% 4%;
    background-color:  #f9b233;
    border-radius: 10px;
    text-align: center;
    font-size: 1.2rem;
    box-shadow: inset 0 0 0 0 rgb(85, 194, 218,0.8);
    transition: ease-out 0.3s;
    color: black;
    text-decoration: none;
}
#homepage a:hover{
    box-shadow: inset 150px 0 0 0 rgb(85, 194, 218,0.8);
    cursor: pointer;
    color: black;
}

#homepage{
    text-align: right;
    display: block;
    position: absolute;
    top: 20%;
    right: 0;
    margin-right: 5%;
    padding-bottom: 5%;
    overflow: hidden;
}
nav{
    display: flex;
    position: sticky;
    top: 10px;
    justify-content: center;
    /* transform: translate(-50%, -50%); */
    overflow: visible;
    z-index: 2;
}
.mainNav{
    display: flex;
    background: #273a3d;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    padding: 10px;
    border-radius: 15px;
    position: absolute;
    /* transform: translate(-50%, -50%); */
    backdrop-filter: blur(10px);
}
.mainNav #TECHYARD_LOGO{
    width: 10%;
    
}
.icons{
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainNav #navbuttons{
    display: flex;
    gap: 5px;
}
.navmenu{
    display: flex;
    gap: 15px;
    width: 55%;
}
.navmenu a{
    padding: 0px;
    background-color: #e2dbd3;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 33%;
    color: #333;
    height: 40px;
    font-family: "Koulen", sans-serif;
    box-shadow: inset 0 0 0 0 #f9b233;
    transition: ease-out 0.3s;
}
.hamburger, .hamburgerMenu a, .hamburgerMenu{
    display: none;
}
.hamburger button{
    all: unset;
}
.navmenu a:hover{
    box-shadow: inset 250px 0 0 0 #f9b233;
    cursor: pointer;
}
@keyframes slide-in {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0%);
    }
  }
#AboutUs {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    gap: 5%;
    width: 100vw;
    padding: 5% 10%;
    box-sizing: border-box;
    visibility: hidden;
}
.AboutUsAnimate{
    visibility: visible !important;
    animation: slide-in 1.5s cubic-bezier(0.25, 0.8, 0.25, 1) both;
}

#AboutUsleft, #AbousUsright {
    flex: 1;
}

#AboutUsleft {
    overflow: hidden;
}

#AboutUsleft h1 {
    font-family: "Koulen", sans-serif;
    font-size: 6em;
    margin: 0;
    margin-bottom: 20px;
    overflow: hidden;
    font-weight: 300;
}

#AboutUsleft p {
    font-family: "Poppins", sans-serif;
    font-size: 1.2vw;
    line-height: 1.5;
}

#AbousUsright {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#Aboutuspng {
    height: 60%; 
    width: 100%;
    background-image: url(resources/AboutUs.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
    margin-bottom: 20px;
    box-shadow: rgb(38, 57, 77) 1px 20px 30px -10px;
}

#partners {
    overflow: hidden;
}

#partners h1 {
    font-family: "Koulen", sans-serif;
    font-size: 2em;
    text-align: center;
    overflow: hidden;
}

#partners img {
    width: 15%; 
    margin: 10px; 
}

#Product_Catalouge{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin-bottom: 50px;
}
#Product_Catalouge h1{
    font-family: "Koulen", sans-serif;
    text-align: center;
    font-size: 5rem;
    overflow: hidden;
    font-weight: 300;
}
#catalougeA{
    all: unset;
}
.slider{
    position: relative;
    width: 80%;
    margin: auto;
    overflow: hidden;
}
.slider img{
    width: 100%;
    display: none;
}
img.displaySlide{
    display: block;
}
.slider button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    padding: 1% 1%;
    background-color: #273a3d;
    color: white;
    border: none;
    cursor: pointer;
}
.previous{
    left: 0;
}
.next{
    right: 0;
}
#Product_Catalouge a{
    padding: 0px;
    background-color: #273a3d;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 15%;
    height: 7%;
    color: white;
    font-family: "Koulen", sans-serif;
    box-shadow: inset 0 0 0 0 #f9b233;
    transition: ease-out 0.3s;
    margin-top: 75px;
    font-size: 2em;
    overflow: hidden;
    padding: 1% 3%;
}
.catalougeA{
    all: unset !important;
}
#Product_Catalouge a:hover{
    box-shadow: inset 500px 0 0 0 #f9b233;
    cursor: pointer;
    color: black;
}
#Reviews{
    margin-top: 5%;
    width: 100vw;
    margin-bottom: 5%;
}
#Reviews h1{
    text-align: center;
    font-family: "Koulen", sans-serif;
    font-size: 5rem;
    overflow: hidden;
    font-weight: 300;
}
.reviewCard{
    flex-basis: 20%;
    background-color: #f5f5f5;
    border-radius: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-shadow: 0 10px 15px;
    border: solid;
    box-shadow: rgba(90, 69, 228, 0.4) -5px 5px, rgba(90, 69, 228, 0.3) -10px 10px, rgba(90, 69, 228, 0.2) -15px 15px, rgba(90, 69, 228, 0.1) -20px 20px, rgba(90, 69, 228, 0.05) -25px 25px;
}
#cards::-webkit-scrollbar {
    display: none;
}
.profilePicture{
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    border: solid;
    display: flex;
    justify-content: center;
    align-items: center;
}
.topCard{
    display: flex;
    gap: 10px;
    align-items: center;
}
.topCard h3{
    font-family: "Poppins", sans-serif;
    font-size: 1.3vw;
    overflow: hidden;
}
.botCard p{
    font-family: "Poppins", sans-serif;
    overflow: hidden;
    font-size: 1vw;
}
#cards{
    display: flex;
    padding: 20px 30px;
    gap: 2.5rem;
    justify-content: center;
}
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px); /* Blurs the background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}
.popup-content {
    font-family: "Poppins", sans-serif;
    display: flex;
    background: white;
    padding: 5%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    flex-direction: column;
    align-items: center;
}
#reveal-button{
    color: transparent;
    background-color: #273a3d;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 5%;
}
#close-btn{
    padding: 2% 1%;
    margin-top: 5%;
    width: 50%;
    border: none;
    background-color: rgb(85, 194, 218,0.8);
    border-radius: 10px;
}
footer{
    display: flex;
    background-color: #273a3d;
    justify-content: space-around;
    overflow: hidden;
}
.footerLinks{
    display: flex;
    flex-direction: column;

    gap: 20px;
    margin-top: 30px;
    overflow: hidden;
}
.footerLinks div{
    margin-bottom: 20px;
    overflow: hidden;
}
.footerLinks div h1{
    margin: 0;
    color: white;
    overflow: hidden;
    font-family: "Koulen", sans-serif;
    margin-bottom: 15px;
}
.footerLinks div a{
    color: white;
    padding-right: 20px;
    font-family: "Poppins", sans-serif;
}
.footercontact{
    padding: 0;
    text-align: right;
    margin-top: 30px;
    font-family: "Poppins", sans-serif;
    overflow: hidden;
}
.footercontact h1{
    margin: 0;
    color: white;
    overflow: hidden;
}
.footercontact p{
    margin: 0;
    color: white;
    overflow: hidden;
}
#footericon{
    display: flex;
    margin: 0;
    padding: 0;
    gap: 15px;
    align-items: center;
    justify-content: flex-end;;
}
#footerLogo{
    max-width: 100px;
}
.footerLogo{
    height: 100px;
    margin-top: 15px;
}
@media screen and (max-width: 900px) {
    #homepage h1{
        font-size: 3em;
    }
    .mainNav{
        width: 50%;
    }
    .mainNav #TECHYARD_LOGO{
        width: 20%;
    }
    .icons{
        display: none;
    }
    .hamburger{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .hamburger button:hover{
        cursor: pointer;
    }
    .hamburgerMenu.active a{
        display: block;
        font-size: 1vh;
        color: white;
        font-family: "Poppins", sans-serif;
        overflow: hidden;
        text-decoration: none;
    }
    .hamburgerMenu.active {
        position: absolute;
        width: 50%;
        height: 40px;
        top: 9vw;
        display: flex;
        background-color: #273a3d;
        justify-content: space-between;
        align-items: center;
        z-index: 2;
        border-radius: 15px;
        padding: 10px;
        animation: slideDown ease-out 0.5s;
      }
    @keyframes slideDown {
        from {
            top: 6%;
        }
        to {
            top: 9vw;
        }
      }
    
    .navmenu{
        display: none;
    }

    #AboutUsleft h1{
        font-size: 2.5em;
    }
    
    #AboutUsleft p{
        font-size: 2.5vw;
    }
    #partners img {
        width: 35%; 
    }

    #partners h1{
        font-size: 1em;
    }
    #Product_Catalouge{
        justify-content: start;

    }
    #Product_Catalouge h1{
        font-size: 2em;

    }
    .slider{
        margin: 0;
    }

    .slider button{
        font-size: 1rem;
    }

    #Product_Catalouge a{
        width: 40%;
        height: 7%;
        box-shadow: none;
        transition: none;
        margin-top: 10%;
        font-size: 1em;
    }
    #Product_Catalouge a:hover{
        box-shadow: none;
        cursor: pointer;
        color: white;
    }
    #cards{
        display: flex;
        flex-direction: column;
        padding: 20px 30px;
        gap: 30px;
        justify-content: center;
    }
    .topCard h3{
        font-family: "Poppins", sans-serif;
        font-size: 1em;
        overflow: hidden;
    }
    .botCard p{
        font-family: "Poppins", sans-serif;
        overflow: hidden;
        font-size: 1em;
    }
    #Reviews h1{
        font-size: 2rem;
    }
    footer{
        padding: 0px 5%;
    }
    .footerLinks{
        font-size: small;
    }
    .footerLinks a{
        font-size: small;
    }
    .footerLinks div{
        margin-bottom: 5%;
    }
    .footercontact h1{
        margin: 0;
        color: white;
        overflow: hidden;
        font-size: 3.5vw;
    }
    .footercontact p{
        font-size: 2vw;
    }

    #footericon .icons{
        display: flex;
        width: 7vw;
        height: 7vw;
        margin-top: 3%;
    }
    #footerLogo{
        max-width: 50%;
    }

}